ChocolateKata/.vs/ChocolateKata/v16/Server/sqlite3/db.lock
ChocolateKata/.vs/ChocolateKata/v16/Server/sqlite3/storage.ide
ChocolateKata/.vs/ChocolateKata/v16/Server/sqlite3/storage.ide-shm
ChocolateKata/.vs/ChocolateKata/v16/Server/sqlite3/storage.ide-wal
